---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=usEdQg5W0yansT8Dr1ULYVHYm0P2nVEj&location=denver,co&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 16:35:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853}}]}]}'
  recorded_at: Mon, 09 Nov 2020 16:35:39 GMT
- request:
    method: get
    uri: https://www.hikingproject.com/data/get-trails?key=200969732-1d8c1b0fbd5f729e7f0e157d436860e7&lat=39.738453&lon=-104.984853&maxDistance=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ap-Request-Id:
      - 3211df9f-65e3-413a-af8b-df8f651c23b2
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "trails": [
                {
                    "id": 7008385,
                    "name": "Highline Canal Trail",
                    "type": "Recommended Route",
                    "summary": "Widely recognized as one of the best urban trails in the country.",
                    "difficulty": "green",
                    "stars": 4.5,
                    "starVotes": 14,
                    "location": "Roxborough Park, Colorado",
                    "url": "https:\/\/www.hikingproject.com\/trail\/7008385\/highline-canal-trail",
                    "imgSqSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_sqsmall_1554321989.jpg",
                    "imgSmall": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_small_1554321989.jpg",
                    "imgSmallMed": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_smallMed_1554321989.jpg",
                    "imgMedium": "https:\/\/cdn2.apstatic.com\/photos\/hike\/7007020_medium_1554321989.jpg",
                    "length": 61.3,
                    "ascent": 369,
                    "descent": -468,
                    "high": 5549,
                    "low": 5435,
                    "longitude": -105.0908,
                    "latitude": 39.487,
                    "conditionStatus": "Unknown",
                    "conditionDetails": null,
                    "conditionDate": "1970-01-01 00:00:00"
                },
                {
                    "id": 7003386,
                    "name": "Green Mountain Tour",
                    "type": "Recommended Route",
                    "summary": "A good hike with easy Front Range access.  Some steep climbs, rocks and nice views.",
                    "difficulty": "blue",
                    "stars": 3.8,
                    "starVotes": 28,
                    "location": "West Pleasant View, Colorado",
          [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=9e8514d3ca2c00c56d20997945bd8451&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604940569,"sunrise":1604929101,"sunset":1604965761,"temp":34.59,"feels_like":29.71,"pressure":1009,"humidity":72,"dew_point":27.14,"uvi":2.5,"clouds":64,"visibility":10000,"wind_speed":1.01,"wind_deg":78,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1604937600,"temp":34.59,"feels_like":27.61,"pressure":1009,"humidity":72,"dew_point":27.14,"clouds":64,"visibility":10000,"wind_speed":4.76,"wind_deg":336,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.23},{"dt":1604941200,"temp":37.06,"feels_like":29.37,"pressure":1009,"humidity":70,"dew_point":28.63,"clouds":67,"visibility":10000,"wind_speed":6.38,"wind_deg":339,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.27},{"dt":1604944800,"temp":39.45,"feels_like":31.19,"pressure":1008,"humidity":67,"dew_point":29.73,"clouds":73,"visibility":10000,"wind_speed":7.67,"wind_deg":12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clou[...]
